# House Prices

In [1]:
import pandas as pd
import numpy as np
import pickle as pkl

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.model_selection import cross_val_score,cross_val_predict, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
data/house_prices_data.csv

In [8]:
from pathlib import Path

#data_path = Path('.').resolve().parent.parent / 'data' / 'house_prices_data.csv'
model_path = Path('.').resolve().parent.parent / 'models' / 'model_bkm.pkl'
payload_path = Path('.').resolve().parent / 'payload.json'

In [6]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

## Load data

In [7]:
from sklearn.datasets import load_boston

data = load_boston()
df_data = pd.DataFrame(data.data, columns=data.feature_names)
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [ ]:
df_data['TARGET'] = data.target

In [ ]:
df_data.head()

In [ ]:
data['DESCR']

In [ ]:
def create_pandas_profiling_report(df):
    from pandas_profiling import ProfileReport

    profile = ProfileReport(df, title='House Prices Pandas Profiling Report', html={'style':{'full_width':True}})
    
    profile.to_file(output_file="house_prices_pandas_profiling.html")
    
#create_pandas_profiling_report(df_data)

In [ ]:
!pwd

# Modelling

## Dataset split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
     df_data.drop('TARGET', axis=1), df_data["TARGET"], test_size=0.2, random_state=42)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

In [ ]:
random_forest = RandomForestRegressor(n_estimators=100)
random_forest.fit(X_train, y_train)
Y_pred = random_forest.predict(X_test)

In [ ]:
y_pred = random_forest.predict(X_test)

In [ ]:
max_value = round(np.append(y_test, y_pred).max() * 1.05 ) 

sns.set(rc={'figure.figsize':(10,10)})

plt.scatter(y_test, y_pred)

plt.plot([0,max_value], [0, max_value], 'r')

plt.xlabel('Actual SalePrice')
plt.ylabel('Predicted SalePrice')

#plt.savefig('/bjornar/prediction_vs_actual_plot.png')

## Error - MAE & RMSE

In [ ]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Root Mean Squared Error:', np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))))

In [ ]:
!pwd

In [ ]:


with open(model_path,'wb') as f:
    pkl.dump(random_forest, f)

In [ ]:
!pwd